@model TechSolutions.Web.Models.Address

<h3>Add Address</h3>

<form asp-action="Create"
      asp-controller="Addresses"
      method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="CustomerID" />

    <div class="mb-3">
        <label asp-for="AddressLine1"></label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="AddressLine2"></label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>

    <div class="mb-3">
    <label asp-for="Country"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>


    <div class="mb-3">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    <a asp-action="ByCustomer"
       asp-controller="Addresses"
       asp-route-customerId="@Model.CustomerID"
       class="btn btn-secondary">
        Cancel
    </a>
</form>
